
<div class="page-header">
  <h2>Outum V8 客户端外场使用统计</h2>
</div>
<!-- <div class="clear"></div> -->
<div id="counter"></div>
<table id="clients" class="table table-striped table-bordered table-hover datatable">
  <thead>
    <tr>
      <th>序列号</th>
      <th>在线天数</th>
      <th>最后上线时间</th>
      <th>所在城市</th>
      <th>今日里程（km）</th>
      <th>今日在线时长（分）</th>
      <th>总里程（km）</th>
      <th>总在线时长（分）</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <!-- <td><%= link_to client.label, client_path(client), :class => "badge badge-warning" %></td> -->
        <td><%= link_to client.label, "##{client.label}", :class => "badge badge-info", :data => {:toggle=>"modal"}  %></td>
        <td><%= client.online_days %>天</td>
        <td><%= time_ago_in_words client.last_time %> ago</td>
        <td><%= client.recent_city.to_s %></td>
        <td><%= (client.distance_today / 1000).round(2) %></td>
        <td><%= (client.duration_today / 60).round(2) %></td>
        <td><%= (client.distance_all / 1000).round(2) %></td>
        <td><%= (client.duration_all / 60).round(2) %></td>
      </tr>
      <!-- Modal -->
      <div id="<%= client.label %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal" aria-hidden="true">✕</button>
          <h3 id="myModalLabel">加密狗编号：<%= client.label %></h3>
        </div>
        <div class="modal-body">
          <dl class="dl-horizontal">
            <dt><strong>序列号</strong></dt>
            <dd><%= client.label %></dd>
            <dt><strong>在线天数</strong></dt>
            <dd><%= client.online_days %>天</dd>
            <dt><strong>最后上线时间</strong></dt>
            <dd><%= client.last_time %></dd>
            <dt><strong>所在城市</strong></dt>
            <dd><%= client.recent_city.to_s %></dd>
            <dt><strong>今日里程（km）</strong></dt>
            <dd><%= (client.distance_today / 1000).round(2) %></dd>
            <dt><strong>今日在线时长（分）</strong></dt>
            <dd><%= (client.duration_today / 60).round(2) %></dd>
            <dt><strong>总里程（km）</strong></dt>
            <dd><%= (client.distance_all / 1000).round(2) %></dd>
            <dt><strong>总在线时长（分）</strong></dt>
            <dd><%= (client.duration_all / 60).round(2) %></dd>
          </dl>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>
    <% end %>
  </tbody>
</table>

<div class="page-header">
  <h2>地图</h2>
</div>


<div id="allmap"></div>


