<%- model_class = Client -%>
<div class="page-header">
  <h1>Outum V8 客户端外场使用统计</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>序列号</th>
      <th>在线天数</th>
      <th>最后上线时间</th>
      <th>今日里程（km）</th>
      <th>今日在线时长（分）</th>
      <th>总里程（km）</th>
      <th>总在线时长（分）</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= link_to client.label, client_path(client), :class => 'btn' %></td>
        <td><%= client.online_days %></td>
        <td><%= time_ago_in_words client.last_time %> ago</td>
        <td><%= (client.distance_today / 1000).round(2) %></td>
        <td><%= (client.duration_today / 60).round(2) %></td>
        <td><%= (client.distance_all / 1000).round(2) %></td>
        <td><%= (client.duration_all / 60).round(2) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

