<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <% Photo.all.each_with_index do |photo, index| %>
    <div class="item">
      <%= image_tag photo.attachment.media %>
      <div class="container">
        <div class="carousel-caption">
          <h1><%= photo.title %></h1>
          <p class="lead"><%= photo.note %></p>
          <a class="btn btn-large btn-primary" href="#">下载软件版本</a>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->

<div class="container video">

  <!-- Three columns of text below the carousel -->
  <% (0..@row_count-1).each do |row_index| %>
  <div class="row-fluid">
    <% (0..2).each do |col_index| %>
      <% video = @videos[row_index * 3 + col_index] %>
      <% next if video.nil? %>
      <div class="span4">
        <%= link_to(image_tag(video.photo_attachment.media.preview), video_path(video)) if video.photo_attachment %>
        <h2 class="muted"><%= video.title %></h2>
        <p><%= "#{video.note}" %></p>
        <%= link_to("视频详情", video_path(video), class: "btn btn-primary") %>
      </div>
    <% end %>
  </div>
  <hr>
  <% end %>

  <!-- START THE FEATURETTES -->
  <div class="featurette">
    <img class="featurette-image pull-right" src=<%= @videos[0].photo_attachment.media.preview %>>
    <h2 class="featurette-heading">First featurette headling. <span class="muted">It'll blow your mind.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-left" src="../assets/img/examples/browser-icon-firefox.png">
    <h2 class="featurette-heading">Oh yeah, it's that good. <span class="muted">See for yourself.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-right" src="../assets/img/examples/browser-icon-safari.png">
    <h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>

  <hr class="featurette-divider">
  
  <!-- /END THE FEATURETTES -->
  <p id="#back-to-top"><a href="#">回到顶部</a></p>

</div><!-- /.container -->



