<%- model_class = Record -%>
<div class="page-header">
  <h1>具体记录</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>日期</th>
      <th>终端类型</th>
      <th>终端IMEI</th>
      <th>当日里程（km）</th>
      <th>当日在线时长（分）</th>
      <th>最后在线时间</th>
    </tr>
  </thead>
  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.date %></td>
        <td><%= record.ue %></td>
        <td><%= record.imei %></td>
        <td><%= (record.distance / 1000).round(2) %></td>
        <td><%= (record.duration / 60).round(2) %></td>
        <td><%= record.last_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>
